@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tab-bg: var(--tab-bg);
  --color-input: var(--input);
  --color-card: var(--card);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080808;
    --foreground: #f2f2f2;
    --tab-bg: #262626;
    --input: #262626;
    --card: #141414;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
